.detalle-producto{
    display: grid;
    grid-template-columns: 40% 30%;
    grid-template-rows: 75%;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.img-producto{
    object-fit: contain;
    /* width: 50%; */
    height: 100%;
    justify-self: center;
}

.btn-continue{
    display: flex;
    gap: 1rem;
}
